/* You can add global styles to this file, and also import other style files */
@import "app/styles/scrollbar.css";

html,
body {
  height: 100%;
  max-height: 600px !important;
  max-width: 600px !important;
  height: fit-content;
  width: fit-content;
}
body {
  margin: 0;
  /* background: #212121; */
  border: 3px solid grey;
  border-radius: 4px;
}

button[mat-raised-button] {
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  width: 100%;
  text-align: left !important;
  font-size: 0.65rem !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  line-height: normal !important;
  & span {
    width: 100% !important;
  }
}
.controls-view {
  width: 30% !important;
  min-width: 180px !important;

  & mat-card {
    background-color: #2b2b2b !important;
  }
}

mat-card-content {
  padding: 8px !important;
  /* font-size: 0.75rem !important; */
}

mat-option {
  display: inline !important;
  max-height: 35px !important;
  font-size: 0.7rem !important;
}

toggle-panel {
  /* margin-bottom: 5px; */
  & span,
  label {
    font-size: 0.85em !important;
  }

  & mat-card {
    margin-bottom: 5px;
  }

  & mat-slide-toggle {
    margin-bottom: 5px !important;
  }
}
examples-list {
  margin-bottom: 5px;
}

json-input {
  & mat-form-field {
    width: 100%;
  }
  & mat-label {
    font-size: 12px !important;
  }
}

textarea[matInput] {
  height: 50px !important;
  max-height: 200px !important;
  font-size: 10px !important;
  line-height: normal !important;
}

canvas.canvas-view {
  width: -webkit-fill-available;
  height: auto !important;
  border: 1px solid #ccc;
  margin-bottom: 22px;
  border-radius: 10px;
}

idle-art {
  position: absolute;
  width: 334px;
  height: 334px;
  right: 0;
  z-index: 10;
  margin-right: 10px;

  & div {
    height: 334px;
  }
}
