.format-container {
  margin-bottom: 5px !important;
}

.switch-container {
  height: 60px !important;
  max-height: 60px;
  min-height: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.empty-toggles {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
