body {
	height: 600px;
	width: 600px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101010;
}

canvas {
	-webkit-font-smoothing: none !important;
	/* background-color: #101010; */
	height: 580px;
	width: 380px;
}

.content {
	width: 100%;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	border: 1px solid lightgreen;
	padding-top: 10px;
	padding-bottom: 10px;
}

li > a.dropdown-item {
	font-size: 12px !important;
}

.form-container {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.dataset-form {
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.dataset-form > .btn-group {
	width: 100%;
}

.dataset-container {
	height: -webkit-fill-available;
	width: 100%;
}
