@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 600px;
	width: 600px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #101010;
}

.canvas-container {
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	-webkit-font-smoothing: none !important;
	background-color: #101010 !important;
	height: 380px;
	width: 380px;
}

.content {
	width: 100%;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	border: 2px solid #999;
}

.dropdown-menu {
	width: 100%;
}

li > a.dropdown-item {
	font-size: 12px !important;
}

.dropdown-header {
	display: flex;
	align-items: center;
}

.form-container {
	box-sizing: border-box;
	padding: 10px 10px 0 10px;
	height: -webkit-fill-available;
	width: -webkit-fill-available;
}

.dataset-dropdown {
	width: 154px;

	display: flex !important;
	align-items: center !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.dataset-dropdown-text {
	max-width: 17ch;
	min-width: 17ch;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

button#go-btn {
	display: flex;
	align-items: center;
}

#dataset-textarea {
	font-size: 14px !important;
	height: 350px !important;
}

.dropdown-divider {
	width: -webkit-fill-available;
	margin-right: 10px;
}

.collapse-panel {
	width: 100%;
}

div.options-panel {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-check.form-switch {
	display: flex;
	align-items: center;
}

.hide-panel {
	display: none !important;
}

.textarea-layout-wrapper {
	display: flex;
	width: 100%;
	align-items: flex-end;
	flex-grow: 1;
	margin-bottom: 32px;
}

form#textarea-form {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#textarea-validation-wrapper {
	width: -webkit-fill-available;
}

.hide-switch-panel {
	max-height: 0px !important;
	overflow: hidden;
	pointer-events: none;
	position: relative;
}
